@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./layout/navbar.scss";
@import "./layout/footer.scss";
@import "./components/generic/buttons.scss";
@import "./components/generic/cards.scss";
@import "./components/generic/form.scss";
@import "./pages/Home.scss";
@import "./pages/Dashboard.scss";
@import "./pages/History.scss";
@import "./pages/Meeting.scss";
@import "./pages/Summary.scss";
@import "./components/specific/startmeeting.scss";
@import "./components/specific/dropdown.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: $background-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body, html {
    padding: 0;
    height: 100%;
}

.App {
    @include window-page();
}

main {
    margin: 30px auto;
    max-width: 1240px;
    padding: 0 30px;
}

section {
    max-width: 1024px;
    margin: 30px 0;
    @include flex-column-center();
    @media (max-width: 600px) {
        width: 100%;
    }
}

p, label, input, select, textarea, ul, li, button {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;

}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: none;
    cursor: pointer;
    
}

main {
    @include flex-column-center();
}

.group-between {
  @include flex-row-between();
}

.error-message {
  color: red;
  padding: 10px;
  background-color: #ffe0e0;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 14px;
}

.success-message {
  color: green;
  padding: 10px;
  background-color: #e0ffe0;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 14px;
}