$primary-color: #5664E3;
$light-primary-color: #EEF1FF;
$secondary-color: #ff914d;
$background-color: #F7F9FF;
$input-color: lightgrey;
$info-color: #666666;
$background-component-color: #EEF1FF;
$alert-delete-color: rgb(184, 19, 19);
$light-red-color: #ffe0e0;
$confirm-color: rgb(7, 131, 42);
$light-green-color: #e0ffe0;