@import "../utils/mixins";
@import "../utils/variables";

header {
    
    color: $primary-color;
    
    .header-nav {
        @include flex-row-between();
    }
    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .logo {
            max-width: 50px;
            @media (max-width: 479px) {
            width: 30px;
            }
        }
        h1 {
            font-size: 2rem;
            @media (max-width: 479px) {
            font-size: 1.5rem;
            }
        }
    }
    button {
        @media (max-width: 479px) {
        display: none;
        }
    }
    .banner {
        margin-top: 30px;
        height: 100%;
        width: 100%;
        color: $primary-color;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            padding: 0 20px;
            text-align: center;
        }
    }
}