@import "../utils/mixins";
@import "../utils/variables";

header {
    background-color: white;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    .header-nav {
        @include flex-row-between();
        .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .logo {
            max-width: 50px;
            @media (max-width: 479px) {
            width: 30px;
            }
        }
        h1 {
            font-size: 1.5rem;
            @media (max-width: 479px) {
            font-size: 1rem;
            }
        }
    }
    }
    nav {
        .nav-container {
            @include flex-row-between();
            gap: 15px;
                @media (max-width: 479px) {
                display: none;
        }
        }
    }
    
    button {
        @media (max-width: 479px) {
        display: none;
        }
    }
}