@import "../utils/mixins";
@import "../utils/variables";

header {
    background-color: white;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    .header-nav {
        @include flex-row-between();
        .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .logo {
            max-width: 50px;
            @media (max-width: 479px) {
            width: 40px;
            }
        }
        h1 {
            font-size: 1.5rem;
            @media (max-width: 479px) {
            font-size: 1.2rem;
            }
        }
    }
    }
    nav {
        .nav-container {
            @include flex-row-between();
            gap: 15px;
            
            font-size: normal;
            @media (max-width: 768px) {
                gap: 0px;
            }
            @media (max-width: 992px) {
                font-size: small;
            }
            li {
                @media (max-width: 768px) {
                    border: 0px solid transparent;
                    background: transparent;
                    display: flex;
                    width: 100%;
                    margin: 0;
                
                }
            }
            .nav-link {
                @include button-secondary();
                @media (max-width: 768px) {
                    border: 0px solid transparent;
                    background: transparent;
                    display: flex;
                    width: 100%;
                    margin: 0;
                    
                }
                
            }
            @media (max-width: 768px) {
            flex-direction: column;
            border: 2px solid $primary-color;
            background: white;
        }
        }
        
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    .bar {
        background-color: $primary-color;
        width: 25px;
        height: 4px;
        border-radius: 25% / 25%;
        margin: 2px 0;
        transition: background-color 0.3s ease;
    }
    .close-nav {
        font-size: 50px;
        padding: 0;
    }
}



@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin: 20px 10px;
        .close-nav {
            line-height: 27px;
            margin: -1.5px -2px;
        }
    }
    .nav-container {
        position: absolute;
        margin-left: 10px;
        top: 40px;
        right: 20px;
        flex-direction: column;
        border-radius: 10px;
        
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        &.open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0)
        }
        
    }

}