@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.btn-remove {
  background: transparent;
  border: none;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
.btn-remove:hover {
  transform: scale(1.2);
  color: #5664E3;
}

.btn-remove {
  background: transparent;
  border: none;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
.btn-remove:hover {
  transform: scale(1.2);
  color: #5664E3;
}

header {
  background-color: white;
  color: #5664E3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
header .header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header-nav .header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
header .header-nav .header-logo .logo {
  max-width: 50px;
}
@media (max-width: 479px) {
  header .header-nav .header-logo .logo {
    width: 30px;
  }
}
header .header-nav .header-logo h1 {
  font-size: 1.5rem;
}
@media (max-width: 479px) {
  header .header-nav .header-logo h1 {
    font-size: 1rem;
  }
}
header nav .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 479px) {
  header nav .nav-container {
    display: none;
  }
}
@media (max-width: 479px) {
  header button {
    display: none;
  }
}

footer {
  background-color: #5664E3;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-top: 50px;
}

.btn-remove {
  background: transparent;
  border: none;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
.btn-remove:hover {
  transform: scale(1.2);
  color: #5664E3;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}
.home .introduction {
  text-align: center;
}
.home .introduction p {
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #F7F9FF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body, html {
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

main {
  margin: 30px auto;
  max-width: 1240px;
  padding: 0 30px;
}

section {
  max-width: 1024px;
}

p, label, input, select, textarea, ul, li, span {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-main {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background: linear-gradient(90deg, #5664E3 0%, #ff914d 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.btn-main:hover {
  -webkit-box-shadow: 0px 2px 10px 1px rgba(105, 105, 105, 0.4);
  box-shadow: 0px 2px 10px 1px rgba(105, 105, 105, 0.4);
  transform: scale(1.02);
}
.btn-main:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background: #F7F9FF;
  color: #5664E3;
  border: 2px solid #5664E3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav-link:hover {
  background-color: #5664E3;
  color: white;
}
.nav-link:disabled {
  background-color: lightgrey;
  color: darkgrey;
  border-color: darkgrey;
  cursor: not-allowed;
}

.btn-add {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background: transparent;
  color: #5664E3;
  font-size: 17px;
  border-radius: 5px;
  margin: 0px 5px;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.btn-add:hover {
  transform: scale(1.2);
}
.btn-add:disabled {
  background-color: lightgrey;
  color: darkgrey;
  border-color: darkgrey;
  cursor: not-allowed;
}

input {
  height: 35px;
  margin: 5px 0px;
  padding: 0px 7px;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

input:focus {
  outline: none;
  border: 2px solid #5664E3;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.container .container-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.container .container-add {
  display: flex;
  justify-content: space-between;
}
.container .container-add input {
  width: 100%;
}

.member-container {
  display: flex;
  align-items: center;
}
.member-container .member-item {
  background-color: #5664E3;
  color: white;
  padding: 5px 7px;
  margin: 5px 0;
  display: flex;
  width: 100%;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
